Test text in index.hbs

  <div class="radiusSearchGroup">
    <p>Радиус поиска:
      <input type="range" min="1" max="100" step="1" name="radiusSearch" value="50">
    </p>
  </div>

  <div id="map"></div>
