  <div class="radiusSearchGroup">
    <p>Радиус поиска:
      <input type="range" min="100" max="10000" step="100" name="radiusSearch" id="radiusSearch" value="0">
    </p>
  </div>

  <div id="map"></div>

<p>Категории</p>

<ul class="list">
  {{#each categories}}
<li class="listItem">
<input data-category_index="{{this.id}}" name="my_btn" class="appendBtn btn btn-outline-success" type="button"
      value="{{this.title}}">
      </li>
      {{/each}}
</ul>

