.profile-container {
  border: 1px solid black;
  display: flex;
  justify-content: space-around;
}

#userData {
  border: 1px solid black;
  width: 375px;
  margin: 10px;
  display: flex;
  flex-direction: column;

}

#product-list-container {
  border: 1px solid black;
  width: 700px;
  margin: 10px;
  display: flex;

}
