
h2 {
align-content: center;
}

.list-group {
  align-content: center;

}

.categoriesList {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* background-image: url('https://99px.ru/sstorage/53/2015/06/tmb_134918_7760.jpg'); */
  background-size: 400px;
  background-repeat: repeat;
  /* transform: scale(-1, 1); */
  /* background-position-x:center; */

}

li {
  list-style-type: none;
}

.listItem {
  display: block;
  align-content: center;
  margin: auto;
}
 
.text-end {
  font-family:'Times New Roman', Times, serif;
  padding-right: 50px;
  background: url('https://99px.ru/sstorage/53/2015/06/tmb_134918_7760.jpg');
  background-size: 200px;
  background-repeat: repeat-x;
  margin: 0;
}
.blockquote-footer {
  margin-top: 0;
  margin-bottom: 0;
}
.a {
  background-color: hsl(0, 0%, 99%);
  width: 120px;
  margin-left: 1300px
  /* position: absolute;
  left: 1000px */
}

.form-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 20px;
}

#signinForm{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 20px;
}


 .list {
   align-content: center;
 }

 .mamonov {

 }


